@using AspNetMvcIoC.Interfaces
@inject IDateHelper DateHelper

@DateHelper

<br /><br />

<button id="get-log-info-button">LOAD</button>

<p id="log-info"></p>

<script type="text/javascript">
	
</script>